@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Fira+Sans+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*-- scss:defaults --*/
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #ddd !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

// Mako colors
// viridisLite::viridis(8, option = "mako", begin = 0.1, end = 0.9)
$blue:    #3B0F70 !default;
$indigo:  #4D217D !default;
$purple:  #5E368C !default;
$pink:    #704D9A !default;
$red:     #8266A7 !default;
$orange:  #9581B4 !default;
$yellow:  #A89DC1 !default;
$green:   #BCBCCF !default;
$teal:    #D0DADC !default;
$cyan:    #E4F8E9 !default;

$font-family-sans-serif:      Fira Sans Condensed, sans-serif !default;
$font-family-serif:           Barlow, serif !default;  

$font-size-base:              1.15rem !default;
$headings-font-weight:        700 !default;

/*-- scss:rules --*/
h2 {
  border-bottom: none;
}

ul,
ol {
  font-family: $font-family-serif;
}


// Tables
.table {
  font-family: $font-family-serif;
}


// Sidebar and TOC stuff
.sidebar-item {
  margin-top: 0.9rem;
  line-height: 1rem;
}
